<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <title> <%= title %> </title>
</head>
<body>
    <nav>
        <h3 id="logo">$aveUp</h3>
        <ul class="nav-links">
            <% if (typeof user !== 'undefined') { %>
            <li><p>Welcome <%= user.name %> </p></li>
            <li><a href="/goals/showall">Home</a></li>
            <li><a href="/finance">Finance</a></li>
            <li><a href="/goals/new">New goal</a></li>
            <li><a href="/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <% } %>
        </ul>
    </nav> 
    