<%- include('./partials/header') %>
<div id="main-div">
    <h1>What financial information would you like?</h1>
    <div id="finance-div">
        <h1 class="finance-h1">Crypto currency</h1>
        <a id="btn4" href="/finance/bitcoin">
            <i class="fab fa-bitcoin"></i>
        </a>
        <h1 class="finance-h1">Stock market</h1>
        <a id="btn5" href="/finance/stocks">
            <i class="fab fa-stack-exchange"></i>
        </a>
    </div>
</div>
<%- include('./partials/footer') %>