<%- include('./partials/header') %>
<div id="main-div">
  <h1>Welcome to $aveUp where we help you to achieve your financial goals and motivate you at the same time!</h1>
  <h1>Please login to continue</h1>
</div>
<%- include('./partials/footer') %>