<%- include('../partials/header') %>
<div id="main-div">
  <h1>Login with</h1> 
  <div class="oauth-div">
    <a id="btn1" href="/auth/google">
       <i class="fab fa-google"></i>
    </a>
    <a id="btn2" href="/auth/github">
       <i class="fab fa-github"></i>
    </a>
    <a id="btn3" href="/auth/facebook">
      <i class="fab fa-facebook"></i>
     </a>
  </div>
</div>
<%- include('../partials/footer') %>





